h1
{
    font-size: 9vw;
    color: white;
    background: black;
    text-align: center;
    vertical-align: middle;
}
p
{
    font-size: 6vw;
    text-align: center;
    vertical-align: middle;
}
div
{
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.title
{
    font-family: 'Major Mono Display', monospace;
}
.cursive
{
    font-family: 'Poiret One', cursive;
}

@media (orientation: portrait)
{
    .column
    {
        float: center;
        width: 22%;
        padding: 15px;
    }
}

/* desktop layout*/
@media (orientation: landscape)
{
    .row
    {
        display: flex; /* align them in a row */
        justify-content: center; /* center them horizontally */
    }

    .column
    {
        display: flex; /* makes it a flex container */
        align-items: center; /* centers children vertically */
        justify-content: center; /* centers children horizontally */
    }

    .column img
    {
        width: 250px; /* Fixed width for all images */
        height: 270px; /* Fixed height for all images */
        object-fit: contain; /* Ensures the image is scaled properly within the given dimensions */
    }
}

/* Clear floats after image containers */
.row::after
{
    text-align: center;
    content: "";
    clear: both;
    display: table;
}

#html { overflow-y: hidden; }

@keyframes shake
{
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.glitch
{
    animation: shake 0.5s linear infinite;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex; /* Add flex display */
    justify-content: center; /* Center the modal content horizontally */
    align-items: center; /* Center the modal content vertically */
}

.modal-content
{
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: auto;
    height: fit-content; /* Adjust height to fit the QR code */
    max-width: 300px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 20px; /* Add padding to create space around the QR code */
    display: flex;
}

#myBtn:hover
{
    cursor: pointer; /* Change cursor to pointer on hover */
}

.close
 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute; /* Ensure position is absolute */
    top: 15px; /* Adjust top position to align as needed */
    right: 15px; /* Adjust right position to align as needed */
 }

.close:hover,
.close:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
