h1 
    {
        font-size: 9vw;
        color: white;
        background: black;  
        text-align: center;
        vertical-align: middle;
    }
    p
    {
        font-size: 6vw;
        text-align: center;
        vertical-align: middle;
    }
    div
    {
        display: table;
        margin-right: auto;
        margin-left: auto;
    }
    .title 
    {
        font-family: 'Major Mono Display', monospace;
    }
    .cursive 
    {
        font-family: 'Poiret One', cursive;
    }

    .column
    {
        float: center;
        width: 22%;
        padding: 15px;
    }

    /* Clear floats after image containers */
    .row::after
    {
        text-align: center;
        content: "";
        clear: both;
        display: table;
    }


    #html { overflow-y: hidden; }
    